<div class="container-fluid">
  <div class="d-flex justify-content-center align-items-center">
    <div class="title-logo pe-5">
      <img class="img-fluid" src="../assets/plane.png">
    </div>
    <div class="w-25">
      <p class="title">NSFlights</p>
    </div>
  </div>

  <router-outlet></router-outlet>

  <div class="footer">
    <div class="fs-6">
      <p>Plane image taken from <a class="img-credit"
          href="https://www.vhv.rs/viewpic/hbwmRJT_free-download-and-vector-avion-de-face-png/">www.vhv.rs</a></p>
    </div>
  </div>
</div>