<div class="flights-board">
    <div *ngIf="fetchingFlights" class="d-flex justify-content-center">
        <div class="spinner-grow text-success mx-3 mt-5" role="status">
        </div>
        <div class="spinner-grow text-success mx-3 mt-5" role="status">
        </div>
        <div class="spinner-grow text-success mx-3 mt-5" role="status">
        </div>
    </div>

    <table *ngIf="!fetchingFlights && flights && flights.flights.length > 0" class="table table-striped shadow-sm">
        <thead>
            <tr>
                <th scope="col">Flight #</th>
                <th scope="col">Origin</th>
                <th scope="col">Destination</th>
                <th scope="col">Flight carrier</th>
                <th scope="col">Flight number</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flight of flights.flights; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{flight.origin}}</td>
                <td>{{flight.destination}}</td>
                <td>{{flight.transport.flightCarrier}}</td>
                <td>{{flight.transport.flightNumber}}</td>
                <td>{{flight.price}}</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">{{flights.price}}</th>
            </tr>
        </thead>
    </table>
</div>